@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #292f36;
  font-family: IBM Plex Mono, monospace;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  
}

.svg-logo {
  filter: grayscale(100%); /* Make logo black and white */
  transition: filter 0.3s ease; /* Smooth transition */
}

.svg-logo:hover {
  filter: grayscale(0%); /* Return to color on hover */
}

.flip-container {
  perspective: 1000px;
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}
@keyframes gradient-flow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.gradient-flow {
  background: linear-gradient(180deg, rgb(0, 255, 179), rgba(75, 0, 130, 1));
  background-size: 200% 200%;
  animation: gradient-flow 3s ease infinite;
}